<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      ¡Soy Adelis! Comencé a estudiar Ingeniería en Telecomunicaciones, pero al
      tener mi primer contacto con la programación, me di cuenta de que me
      encantaba. Me cambié a Ingeniería de Sistemas y lo demás es historia. <strong
        >Desde aquel momento, me he especializado en crear soluciones web
        interactivas y unicas</strong
      >.
    </p>

    <p>
      Tengo 5 años de experiencia desarrollando aplicaciones web y móviles
      enfocadas en la experiencia para los usuarios, tales como redes sociales,
      paneles de administración o backoffice, salud, hotelería, sistemas de
      gestión de contenido, etc. También me he dedicado al desarrollo del
      backend y APIs consumidas por la mayoría de las soluciones antes
      mencionadas. Mi objetivo es proporcionar soluciones web y móviles
      interactivas enfocadas en la intuitividad.
    </p>
  </div>
  <img
    alt="adelis photo"
    src="/me.webp"
    class="rounded-full size-64 order-1 md:order-2"
  />
</section>
