---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCIE = [
  {
    date: 'Marzo 2023 - Octubre 2023 · 8 meses',
    title: 'Frontend Developer CPANAX',
    description:
      'Encargado del análisis y rediseño de la UX/UI de la aplicación web para crear aplicaciones "no code" llamada Codeless. Se logró mejorar tanto visualmente como la experiencia de usuario en la mayoría de las interfaces, facilitando radicalmente el uso, permitiendo entender de forma más intuitiva y aprovechar las funciones de la aplicación.',
  },
  {
    date: 'Junio 2022 - Febrero. 2023 · 9 meses',
    title: 'Full Stack Developer Lyncros',
    description:
      'Asignado al equipo de integraciones externas y posteriormente a Crop Story, pude desarrollar y dar mantenimiento a diversas aplicaciones, como el backoffice para gestión interna, la aplicación móvil de Ucropit desarrollada con React Native, además del backend, APIs y múltiples microservicios.',
  },
  {
    date: 'Enero. 2018 - Julio. 2022 · 4 años 7 meses',
    title: 'Full Stack Developer Freelance',
    description:
      'Encargado de desarrollar aplicaciones web, como redes sociales, paneles de administración, salud, hotelería, sistemas de gestión de contenido, etc. Además, del desarrollo del backend o APIs consumidas por la mayoría de las soluciones antes mencionadas.',
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
